@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #e7ebf4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.home-div {
  width: 100%;
  margin: 0 auto;
}

.navbar-div {
  height: 12vh;
  background: rgb(82, 91, 98);
  width: 100%;
}

.presentation-div {
  background: none;
  position: absolute;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  margin: 0 auto;
}

.presentation-header {
  margin: auto auto 0 0;
  font-size: 60px;
  font-weight: 400;
  width: fit-content;
}

.presentation-para {
  margin: 10px 0 0;
  font-size: 30px;
  font-weight: 400;
  width: 100%;
  font-family: 'Manrope', sans-serif;
}

.presentation-btn {
  width: fit-content;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 15px;
  background: rgb(1, 162, 255);
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 30px auto auto 0;
}

.operations-carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  width: 100%;
  height: 100%;
}

.top-slider-image {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.clients-div {
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.about-div {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.service-div {
  width: 90%;
  margin: 0 auto 100px;
  padding: 0;
}

.news-div {
  width: 90%;
  height: fit-content;
  margin: 0 auto 100px;
  padding: 0;
}

.career-div {
  width: 100%;
  margin: 0 auto;
  height: 90vh;
  padding: 80px 0;
  border-top: 2px solid rgb(139, 167, 189);
  border-bottom: 2px solid rgb(139, 167, 189);
}

.client-div {
  width: 90%;
  margin: 0 auto;
  height: auto;
  padding: 0;
}

.contact-div {
  width: 90%;
  margin: 0 auto 100px;
}